<!--form handling-->
<form method="POST" id="add_user">
    <div class="new_user">
        <div class="form_group">
            <lable for="name" class="text-light">Name</lable>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="JC Bagas">
        </div>
        <div class="form_group">
            <lable for="Email" class="text-light">Email</lable>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        </div>
        <div class="form_group">
            <lable for="Gender" class="text-light">Gender</lable>
            <div class="radio inline">
                <input type="radio" name="gender" value="Male">
                <lable for="Gender" class="text-light">Male</lable>
            </div>
            <div class="radio inline">
                <input type="radio" name="gender" value="Female">
                <lable for="Gender" class="text-light">Female</lable>
            </div>
        </div>                
        <div class="form_group">
            <lable for="Status" class="text-light">Status</lable>
            <div class="radio inline">
                <input type="radio" name="status" value="Active">
                <lable for="Status" class="text-light">Active</lable>
            </div>
            <div class="radio inline">
                <input type="radio" name="status" value="Inactive">
                <lable for="Status" class="text-light">Inactive</lable>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>